body {
  background-color: #AED8E5;
  color: #454C55; }

#container {
  max-width: 75%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px; }

.form-area {
  background-color: #F8F9FA;
  padding: 10px 40px 40px;
  max-width: 100%;
  margin: auto; }
  .form-area i {
    padding: 4px;
    padding-left: 0px; }
  .form-area h3 {
    font-family: "Comfortaa", cursive; }
  .form-area button {
    background-color: #F8F9FA;
    border: solid 2px #DA9685;
    color: #DA9685; }
    .form-area button:hover {
      color: #F8F9FA;
      background-color: #DA9685;
      -webkit-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      border-color: #DA9685; }
  .form-area .form-control:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #AED8E5; }

.col-md-6 {
  background-color: #F8F9FA;
  margin-top: 50px;
  text-align: center; }
  .col-md-6 h1 {
    font-family: "Comfortaa", cursive;
    font-weight: 700; }

.navbar-brand {
  margin-right: 29px; }

img {
  padding-bottom: 15px; }

i {
  padding: 0px 8px 0px 0px; }

input {
  outline-color: #AED8E5;
  font-size: 15px; }

::-webkit-input-placeholder {
  opacity: 0.3; }

:-ms-input-placeholder {
  opacity: 0.3; }

::-ms-input-placeholder {
  opacity: 0.3; }

::placeholder {
  opacity: 0.3; }

li {
  padding-left: 12px; }

footer {
  background-color: #F8F9FA; }
  footer a {
    color: #DA9685; }
    footer a:hover {
      color: #AED8E5;
      -webkit-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      text-decoration: none; }
  footer .col-md-12 {
    text-align: center; }
  footer .col-12 {
    margin-bottom: 40px;
    font-size: 1.2em;
    font-family: "Comfortaa", cursive; }

@media only screen and (max-width: 768px) {
  #container {
    max-width: 90%; }
  .btn {
    width: 100%;
    margin-top: 20px; } }
