// VARIABLES ---------------------------------------------------------
 $blue: #AED8E5;
 $white: #F8F9FA;
 $orange: #FDD9AE;
 $pink: #DA9685;
 $brown: #E2D0BE;
 $title: 'Comfortaa', cursive;
 $fakeblack: #423531;
 // -----------------------------------------------------------------------

 body {
   background-color: $blue;
   width: 100%;
   overflow-x: hidden;
 }



 #container {
   max-width: 55%;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 30px;
 }

// NAVIGATION ---------------------------------------------------------

header {

.col-md-6 {
  background-color: $white;
  margin-top: 50px;
  text-align: center;

  h1 {
    font-family: $title;
    font-weight: 700;
  }
}

.navbar-brand {
  margin-right: 29px;
}

img {
  padding-bottom: 15px;
}

i {
  padding: 0px 8px 0px 0px;
}

input {
  outline-color: $blue;
  font-size: 15px;
}

::placeholder {
  opacity: 0.3;
}

li {
  padding-left: 12px;
}
}

// MENU ---------------------------------------------------------

.list {

  padding-top: 50px;

  .list-group-item {
    background-color: $blue;
  }

  li {
    color: $fakeblack;
  }

  h4 {
    color: $white;
    font-family: $title;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
  }
}


// FOOTER ---------------------------------------------------------

footer {
  background-color: $white;
  margin-top: 200px;
  a {
    color: $pink;
    &:hover {
      color: $blue;
      transition-timing-function: ease-in;
      transition: 0.5s;
      text-decoration: none;
    }
  }
  .col-md-12 {
    text-align: center;
  }

  .col-12 {
    margin-bottom: 40px;
    font-size: 1.2em;
    font-family: $title;
  }
}
