// VARIABLES ---------------------------------------------------------
 $blue: #AED8E5;
 $white: #F8F9FA;
 $orange: #FDD9AE;
 $pink: #DA9685;
 $brown: #E2D0BE;
 $title: 'Comfortaa', cursive;
 $grey: #5D5D5D;
 $fakeblack: #423531;

 // -----------------------------------------------------------------------

body {
  background-color: $blue;
}

#container {
  max-width: 80%;
  margin: auto;
  margin-top: 30px;
}

// NAVIGATION --------------------------------------------------------------

.col-md-6 {
  background-color: $white;
  text-align: center;

  h1 {
    font-family: $title;
    font-weight: 700;
  }
}

.navbar-brand {
  margin-right: 29px;
}

img {
  padding-bottom: 15px;
}

i {
  padding: 0px 8px 0px 0px;
}

input {
  outline-color: $blue;
  font-size: 15px;
}

::placeholder {
  opacity: 0.3;
}

li {
  padding-left: 12px;
}

// MAP ---------------------------------------------------------

.mapke {
  padding: 10px 10px 40px 16px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

hr {
  border-top: solid 2.4px $white;
}

.hr1 {
  border-top: solid 1px $white;
}

.divider {
  padding-bottom: 70px;
  margin-top: 70px;
}

.col-md-7 {
  text-align: center;
  font-family: $title;
  color: $fakeblack;

  span {
    color: $white;
  }

  i {
    font-size: 1.5em;
    color: $white;
    margin-top: 40px;
  }

  .iconmove {
    margin-top: 35px;
  }
}


h1 {
  color: $fakeblack;
  margin-top: 55px;
  font-family: $title;
  font-weight: 700;
}



// FOOTER ---------------------------------------------------------

footer {
  background-color: $white;
  a {
    color: $pink;
    &:hover {
      color: $blue;
      transition-timing-function: ease-in;
      transition: 0.5s;
      text-decoration: none;
    }
  }
  .col-md-12 {
    text-align: center;
  }

  .col-12 {
    margin-bottom: 40px;
    font-size: 1.2em;
    font-family: $title;
  }
}

// MEDIA ---------------------------------------------------------

@media only screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  .divider {
    visibility: hidden;
  }

  iframe {
    width: 290px;
    
  }
}
