
// VARIABLES ---------------------------------------------------------
 $blue: #AED8E5;
 $white: #F8F9FA;

// CODE --------------------------------------------------------------

body {
  background-color: $blue;
}

#container {
  max-width: 80%;
  margin: auto;
}

.col-md-6 {
  background-color: $white;
  margin-top: 50px;
  text-align: center;

  h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
  }
}

.navbar-brand {
  margin-right: 29px;
}

img {
  padding-bottom: 15px;
}

i {
  padding: 0px 8px 0px 0px;
}

input {
  outline-color: $blue;
  font-size: 15px;
}

::placeholder {
  opacity: 0.3;
}

li {
  padding-left: 12px;
}

span {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
}
